<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script type="text/javascript" src="/javascripts/timedropper.js"></script>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" type="text/css" href="/stylesheets/timedropper.css"/>
  </head>
  <body>
    <h1>KC104壁面照明コントローラ</h1>
    <form id="data">
      <div>
          <input type="text" name="bridgeIp" id="bridgeIp" value="172.20.11.99" />
          <input type="text" name="username" id="username" value="d02sfHv8nPolNMQ9lrQjvY6FD4N8Ik9cygtg3gR4">
      </div>
      <div>
        <input type="text" name="startAm" id="startAm" />
        <input type="text" name="endAm" id="endAm" />
        <input type="text" name="amStartColorTemp" id="amColorTemp" />K
        <input type="text" name="amEndColorTemp" id="amColorTemp" />K
      </div>
      <div>
        <input type="text" name="startPm" id="startPm" />
        <input type="text" name="endPm" id="endPm" />
        <input type="text" name="pmStartColorTemp" id="pmColorTemp" />K
        <input type="text" name="pmEndColorTemp" id="amColorTemp" />K
      </div>
    </form>
    <button type="submit" id="send">
      <font size="2">送信</font>
    </button>
  </body>
  <script type="text/javascript" src="/javascripts/common.js"></script>
  <script type="text/javascript" src="/javascripts/httpRequest.js"></script>
</html>
